[submodule "BaGulBaGul_Backend_Main"]
	path = BaGulBaGul_Backend_Main
	url = https://github.com/BaGulBaGul/BaGulBaGul_Backend_Main.git
    branch = develop
[submodule "BaGulBaGul_Backend_Alarm"]
	path = BaGulBaGul_Backend_Alarm
	url = https://github.com/BaGulBaGul/BaGulBaGul_Backend_Alarm.git
	branch = develop
